@import 'select2';

body {
  background: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
#controls {
  padding: 10px;
  display: none;
}
.select2-drop-active, #controls {
  opacity: 0.7;
}
