!!!
%html
  %head
    %title threeden
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.nr.css", "application", media: "all"
    = javascript_include_tag "application"
  %body
    %noscript
      .text-center
        %h2
          This whole thing is done in JavaScript,
        %p.lead
          and you have either disabled it or are browsing from the nineties.
        %p
          Please do something about it, you and your kind are the reason I have hard liquor in the work desk drawer.
    = yield
